body,
body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #e6f598;
    z-index: 100;
}

#logo,
header nav {
    display: inline-block;
    width: 49%;
    height: 100%;
}

header nav a {
    display: block;
    width: 100px;
    height: 100%;
}

header nav button {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0;
    top: 0;
    background-color: #66c2a5;
}

body > div {
    height: 100vh;
    width: 100vh;
    background-color: #5e4fa2;
}

div{
    box-sizing: border-box;
}

div.first{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

div.first ~ div{
    border-left: 10px solid black;
}

div.first.most-inner{
    border-radius: 50%;
}

div.first.most-inner::before{
    content: "A";
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    
}

div.first.most-inner::after{
    content: "B"
}

div.first.most-inner:hover{
    background-color: black;
}

body > div.first,
div.first.most-inner {
    border-bottom: 10px solid whitesmoke;
}

body > div > div {
    height: 90vh;
    width: 90vh;
    background-color: #3288bd;
}

body > div > div > div {
    height: 80vh;
    width: 80vh;
    background-color: #66c2a5;
}

body > div > div > div > div {
    height: 70vh;
    width: 70vh;
    background-color: #abdda4;
}

body > div > div > div > div > div{
    height: 60vh;
    width: 60vh;
    background-color: #e6f598;
}

body > div > div > div > div > div > div{
    height: 50vh;
    width: 50vh;
    background-color: #fee08b;
}

body > div > div > div > div > div > div > div{
    height: 40vh;
    width: 40vh;
    background-color: #fdae61;
}

body > div > div > div > div > div > div > div > div{
    height: 30vh;
    width: 30vh;
    background-color: #f46d43;
}

body > div > div > div > div > div > div > div > div > div{
    height: 20vh;
    width: 20vh;
    background-color: #d53e4f;
}

body > div > div > div > div > div > div > div > div > div > div{
    height: 10vh;
    width: 10vh;
    background-color: #9e0142;
}